<a href="https://colab.research.google.com/github/Tanupandey498/Jerry498/blob/main/assgi1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [ ]:
my_variable = (
    "This is a string",   # string
    [1, 2, 3, 4],         # list
    3.14,                 # float
    (5, 6, 7)             # tuple
)
print("String:", my_variable[0])
print("List:", my_variable[1])
print("Float:", my_variable[2])
print("Tuple:", my_variable[3])

String: This is a string
List: [1, 2, 3, 4]
Float: 3.14
Tuple: (5, 6, 7)

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.

In [ ]:
var1 = ' '
var2 = '[ DS , ML , Python]'
var3 = [ 'DS', 'ML', 'Python' ]
var4 = 1.

print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'float'>

Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [ ]:
a = 10
b = 3
result = a / b
print(result)

In [ ]:
result = a % b
print(result)

In [ ]:
result = a // b
print(result)

In [ ]:
result = a ** b
print(result)

4 . Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [ ]:
my_list = [25, "Hello", 3.14, True, None, [1, 2, 3], (4, 5, 6), {'key': 'value'}, {9, 8, 7}, b'bytes']


for element in my_list:
    print(f"Element: {element} | Type: {type(element)}")

Element: 25 | Type: <class 'int'>
Element: Hello | Type: <class 'str'>
Element: 3.14 | Type: <class 'float'>
Element: True | Type: <class 'bool'>
Element: None | Type: <class 'NoneType'>
Element: [1, 2, 3] | Type: <class 'list'>
Element: (4, 5, 6) | Type: <class 'tuple'>
Element: {'key': 'value'} | Type: <class 'dict'>
Element: {8, 9, 7} | Type: <class 'set'>
Element: b'bytes' | Type: <class 'bytes'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [ ]:
A = 64
B = 2
count = 0
while A % B == 0:
    A = A // B
    count += 1

if count > 0:
    print(f"Number A can be divided by number B {count} times.")
else:
    print("Number A is not divisible by number B.")

Number A can be divided by number B 6 times.

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [ ]:
int_list = list(range(1, 26))
for i in int_list:
    if i % 3 == 0:
        print(f"{i} is divisible by 3.")
    else:
        print(f"{i} is not divisible by 3.")

1 is not divisible by 3.
2 is not divisible by 3.
3 is divisible by 3.
4 is not divisible by 3.
5 is not divisible by 3.
6 is divisible by 3.
7 is not divisible by 3.
8 is not divisible by 3.
9 is divisible by 3.
10 is not divisible by 3.
11 is not divisible by 3.
12 is divisible by 3.
13 is not divisible by 3.
14 is not divisible by 3.
15 is divisible by 3.
16 is not divisible by 3.
17 is not divisible by 3.
18 is divisible by 3.
19 is not divisible by 3.
20 is not divisible by 3.
21 is divisible by 3.
22 is not divisible by 3.
23 is not divisible by 3.
24 is divisible by 3.
25 is not divisible by 3.

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [ ]:
my_list = [1, 2, 3]
print("Original list:", my_list)

my_list[0] = 99
print("Modified list:", my_list)

Original list: [1, 2, 3]
Modified list: [99, 2, 3]

In [ ]:
my_tuple = (1, 2, 3)
print("Original tuple:", my_tuple)

try:
    my_tuple[0] = 99
except TypeError as e:
    print("Error:", e)

Original tuple: (1, 2, 3)
Error: 'tuple' object does not support item assignment